body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

header {
    background-color: turquoise;
    width: 100%;
    height: 55px;
    position: relative;
}

header h1 {
    display: inline;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 15px;
}

header div {
    position: absolute;
    right: 0;
    height: 100%;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
}


header ul li {
    display: inline-block;
    margin: 0;
    background-color: orange;
    height: 100%;
}

header ul li:hover {
    background-color: skyblue;
}

header ul li a {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: black
}

#intro {
    background-color: wheat;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 400px;
    position: relative;
    box-sizing: border-box;
}

#intro h1 {
    display: inline;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 100px;

}

#intro p {
    margin: 0;
    position: absolute;
    top: 180px;
    left: 100px;
    width: 400px;
}

#intro img {
    position: absolute;
    right: 170px;
    top: 20px;
    height: 90%;
}

#intro button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 320px;
}

#intro button a {
    text-decoration: none;
    color: black
}

.section-title {
    text-align: center;
    background-color: turquoise;
    margin: 0;
    padding: 20px;
}

#section-work-1 {
    height: 300px;
    width: 100%;
    background-color: wheat;
}

#section-work-2 {
    height: 300px;
    width: 100%;
    background-color: black;
}

.work-experience{
    width: 40%;
    display: inline-block;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 90px;
    border-right: 20px solid orange;
}

.work-experience:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


#section-work-1 .work-experience{
    background-color: white;
    color: black;
}
#section-work-2 .work-experience{
    background-color: white;
    color: black;
}

.work-experience img{
    width: 25%;
    height: 120px;
    border-top-left-radius: 10px;
    float: left;
    margin-right: 20px;
}
.work-experience-content{
    clear: right;

    padding-top:10px ;
    padding-left: 10px;
    padding-bottom: 10px;
}

.work-experience .work-experience-content .duration{
    font-weight: bold;
}
